apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-route
  namespace: argocd
spec:
  parentRefs:
  - name: gateway-api
    namespace: envoy-gateway-system
  hostnames:
  - argocd.home
  rules:
  - backendRefs:
    - name: argocd-server
      port: 80

