apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: gateway-helm
    version: v1.7.0
    repo: "https://charts.envoyproxy.io"
    releaseName: envoy-gateway
    valuesFile: values.yaml
