apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: eg
    version: v1.7.0
    repo: "oci://docker.io/envoyproxy/gateway-helm"
    releaseName: eg
    valuesFile: values.yaml
