apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: envoy-gateway-system

helmCharts:
  - name: gateway-helm
    version: v1.7.0
    repo: oci://docker.io/envoyproxy
    releaseName: envoy-gateway
    valuesFile: values.yaml

patches:
  - target:
      kind: MutatingWebhookConfiguration
      name: envoy-gateway-topology-injector.envoy-gateway-system
    patch: |-
      - op: add
        path: /metadata/annotations/helm.sh~1hook-weight
        value: "-1"