apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: envoy-gateway-system

helmCharts:
  - name: gateway-helm
    version: v1.7.0
    repo: oci://docker.io/envoyproxy
    releaseName: envoy-gateway
    valuesFile: values.yaml

resources:
  - 01-gatewayclass.yaml
  - 02-gateway.yaml
  - 03-envoyproxy.yaml
  - 04-http-routes.yaml
