providers:
  kubernetesIngress:
    publishedService:
      enabled: false
  kubernetesGateway:
    enabled: true

gateway:
  namespacePolicy: All

# Enable API and Dashboard
additionalArguments:
  - "--api.dashboard=true"

# Ports configuration
ports:
  traefik:
    port: 9000
    expose:
      default: true
    exposedPort: 9000
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443

# Enable IngressRoute for dashboard
ingressRoute:
  dashboard:
    enabled: true
    entryPoints:
    - websecure
    matchRule: Host(`traefik.internal`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))

# Service configuration
service:
  enabled: true
  spec:
    externalTrafficPolicy: Local
  annotations:
    metallb.universe.tf/address-pool: public-pool
    tailscale.com/expose: "true"
    tailscale.com/hostname: k8s-
  type: LoadBalancer