name: Terraform Apply

on:
  push:
    branches: [main]

jobs:
  terraform:
    runs-on: [self-hosted]
    defaults:
      run:
        working-directory: cluster/

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.2

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_JSON_CREDENTIALS }}

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        id: plan
        run: terraform plan -detailed-exitcode -out=tfplan || exit 0

      - name: Terraform Apply (if changes)
        if: steps.plan.outcome == 'success'
        run: terraform apply -auto-approve tfplan
